.PersonalPlanner {
    // border: red solid 1px;
    // padding-top: 10vh;
    width: 95vw;
    z-index: 10;
    position: relative;
    float: left;
    margin-left: 4vw;
    height: 100vh;
}

.Schedule {
    border: blue solid 1px;

}

