@import '../global.scss';

.PersonalPlanner {
    // border: red solid 1px;
    // padding-top: 10vh;
    // width: 95vw;
    z-index: 10;
    // position: relative;
    // float: left;
    // margin-left: 4vw;
    @include font-default;
    font-family: Greycliff CF !important;
    font-weight: bold;  
    margin: 0 auto;
    min-height: 100vh;
    width: 1050px;
    [class^="makeStyles-appointment-"] {
        // background: #FFFFFF;
        box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.05), 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 2px 12px rgba(0, 0, 0, 0.15);
        border-radius: 3px;
        color: $base-color;
    }
    
    &.clickedBacklog .MuiTableCell-root:hover::after {
        // border: red solid 1px;
        // border: 2px solid red;
        // border-radius: 30px;
        content: "+";
        // font-size: 3em;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        // color: linear-gradient(113.61deg, #FF5C00 0%, #FFA800 100%);
        color:rgb(66, 165, 245);
        // border: red solid 1px;
        // right: -100px;
        text-align: center;
        // padding: 0 0.5em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .headerBlock {
        padding-top: 80px;
        padding-bottom: 40px;
        .subTitle {
            font-family: Greycliff CF;
            font-style: normal;
            font-weight: bold;
            font-size: 21px;
            line-height: 25px;
            letter-spacing: 0.0035em;
            color: #272343;
        }

        .titleBlock {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .title {
                color: #272343;
                float: left;
                font-family: Greycliff CF;
                font-size: 52px;
                font-style: normal;
                font-weight: bold;
                letter-spacing: 0.01em;
                line-height: 60px;
            }
            .backlogButton {
                align-items: center;        
                background: #272343;
                border-radius: 3px;
                color: white;
                display: flex;
                float: right;
                font-family: Greycliff CF;
                font-size: 21px;
                font-style: normal;
                font-weight: bold;
                height: 32px;
                justify-content: center;
                line-height: 28px;
                padding: 0 12px;
                width: 180px;
            }
        
        }

    }
    .colorGroup {
        display: flex;
        height: 28px;
        justify-content: space-evenly;
        margin-top: 10px;
        width: 70%;
        .circleButton {
            border-radius: 100%;
            height: 28px;
            margin-left: 10px;
            margin-right: 10px;
            transition: all .5s;
            width: 28px;
            cursor: pointer;
            &:hover {
                box-shadow:  0px 0px 5px 2px #FFA800;
            }
            &.selected {
                box-shadow:  0px 0px 5px 2px #FFA800;
            }
        }
        .color1 {
            background: #D62246;
        }
        .color2 {
            background: #9139B6;
        }
        .color3 {
            background: #0081CA;
        }
        .color4 {
            background: #02C37E;
        }
        .color5 {
            background: #FFBD3B;
        }
        .color6 {
            background: #FF7D49;
        }
        .color7 {
            background: #E152B9;
        }
        .color8 {
            background: #17BEBB;
        }
    }
}

.Schedule {
    border: blue solid 1px;
}

.bouh {
    // border: red solid 1px;
}

.makeStyles-stickyElement-30,
  .makeStyles-background-41 {
      background: none !important;
  }
  .MuiPaper-root {
      background: none !important;
  }
  .MuiPaper-elevation1 {
      box-shadow: none !important
  }
  .MuiButton-outlined,
  .memo-inputRoot-20 {
      background-color: $base-color-darkergrey !important;
      color: $base-color !important;
      border: none !important;
  }
  .TodayButtonBase-button-13 {
    height: 32px !important;
    padding: 0 16px !important;
  }
  .memo-inputRoot-20 {
    height: 32px !important;
  }
  .Toolbar-toolbar-12 {
    border-bottom: 1px solid $base-color !important;
    color: $base-color !important;
  }
  .MuiTableCell-body,
  .Cell-dayOfWeek-47,
  .Cell-dayOfMonth-48  {
      color: $base-color !important;
      font-size: $text-caps !important;
      text-transform: uppercase !important;
  }
  .makeStyles-cell-66 {
    border-right: 1px solid $base-color !important;
    border-bottom: 1px solid #ACABB9 !important;
  }
  .Label-label-58,
  .makeStyles-cell-66,
  .TickCell-cell-62 {
    height: 60px !important;
    line-height: 60px !important;
  }
  .makeStyles-cell-66,
  .Cell-cell-46 {
    width: 268px;
  }
  .MuiTableCell-root {
    text-transform: uppercase !important;
  }
  .MuiButton-root {
      color: $base-color !important;
  }
  .MuiIconButton-root {
    border-radius: 3px !important;
    height: 32px !important;
    padding: none !important;
    width: 32px !important;
    &:hover {
        background-color: $base-color-darkergrey !important;
    }
  }
  .MuiSvgIcon-root {
    fill: $base-color !important;
  }
  .MuiButton-text {
      padding: none !important;
      &:hover {
        background-color: $base-color-darkergrey !important;
    }
  }
  .Label-text-59 {
    color: $base-color !important;
    font-size: $text-caps !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
  }
  .makeStyles-timeScaleContainer-52 {
      background: $base-color-lightgrey !important;
  }
  .makeStyles-ticks-53 {
      width: 0 !important;
  }
  .makeStyles-dayScaleEmptyCell-42 {
    min-width: 73px !important;  
    width: 73px !important;
  }
  .MuiDrawer-paper {
      background: white !important;
  }
  .memo-button-150 {
      background-color: $base-color !important;
      color: white !important;
      &:hover {
          background-color: $base-color-orange !important;
      }
  }
