@import '../global.scss';

.whitebg {
  background: white;
}
.MainBody {
    @include font-default;
    font-weight: bold;
    // margin-left: $left-menu-size;
    margin: 0 auto;
    min-height: 100vh;
    width: 1050px;
    padding-bottom: 10px;
    .boxesBlock {
      display: flex;
      justify-content: space-evenly;
      margin-top: 40px;
      .block {
        border-radius: 16px;
        height: 346px;
        margin: 0 24px 0 0;
        padding: $scale24;
        width: 338px;
      }
      .title {
        @include font-default;
        color: $base-color;
        font-size: $text21px;
        margin-bottom: $scale32;
      }
      .weekBlock {
        background: #FFE7B9;
      }
      .inspirationBlock {
        background: #FFD7C7;
        margin-right: 0;;
        .content {
          @include font-default;
          color: $base-color;
          font-size: $text21px;
          font-style: italic;
          margin-top: 5vh;
        }
        .author {          
          @include font-default;
          color: $base-color;
          font-size: $text21px;
          margin-top: 3vh;
        }
      }
      .seeMore {
        @include font-default;
        color: $base-color;
        font-size: $text14px;
        font-style: normal;
        margin-top: 20px;
      }
      .todayBlock {
        background: $base-color-lightgrey;
        .task {
          align-items: center;
          background: white;
          border-radius: 3px;
          box-shadow: $shadow-smaller;
          display: flex;
          height: 60px;
          justify-content: space-between;
          margin-top: $scale16;
          padding: 0px $scale12;
          position: relative;
          transition: all 0.35s;
          &:hover {
            box-shadow: $shadow-large;
          }
          .name {
            @include font-default;
            color: $base-color;
            font-size: $text18px;
            line-height: 22px;
          }
          .duration {
            @include font-default;
            color: $base-color;
            font-size: $text-caps;
          }
          .workBar {
            border-radius: 3px 0px 0px 0px;
            height: 3px;
            left: 0px;
            position: absolute;
            top: 0px;
          }
        }
      }
    }
    .graphBlock {
      background-color: white;
      border-radius: 3px;
      box-shadow: $shadow-smaller;
      height: 212px;
    }
    .graphLegend {
      display: flex;
      padding: 18px 24px;
      width: 100%;
    }
    .todo, .done {
      width: 50%;
    }
    .graphBarItems {
      border-bottom: 1px solid $base-color;
      display: flex;
      height: 114px;
      margin: 0 12px;
    }
    .graphBarItem {
      display: flex;
      justify-content: center;
      position: relative;
      width: 20%;
    }
    .graphBarItemTodo {
      background: linear-gradient(113.61deg, #FFF2AA 0%, #FF8A5B 100%);
      border-radius: 150px 150px 0 0;
      bottom: 0;
      height: 84px;
      left: 26px;
      max-height: 114px;
      position: absolute;
      width: 12px;
      z-index: 9;
    }
    .graphBarItemDone {
      background-color: $base-color-red;
      border-radius: 150px 150px 0 0;
      bottom: 0;
      height: 114px;
      left: 34px;
      max-height: 114px;
      position: absolute;
      width: 12px;
      z-index: 8;
    }
    .graphDays {
      display: flex;
      margin: 4px 12px;
    }
    .dayItem {
      font-size: $text-caps;
      text-align: center;
      text-transform: uppercase;
      width: 20%;
    }
    .TitlesBlock {
      display: flex;
      padding-top: 40px;
      .Greetings {
        @include font-default;
        font-size: $text21px;
        margin-right: 24px;
        width: 700px;
      }
      .Workload {
        @include font-default;
        font-size: $text21px;
        width: 338px;
      }
    }
    .TasksBlock {
      display: flex;
      margin-top: $scale12;
      .TasksTitle {
        @include font-default;
        font-size: $text52px;
        line-height: 62px;
        margin-right: 24px;
        padding-right: 42px;
        width: 700px;
        .OrangeTitle {
          color: #FF5C00;
        }
      }
      .TasksBarsBlock {
        width: 338px;
        .TaskOne {
          @include font-default;
          display: flex;
          font-size: $text21px;
          justify-content: space-between;
          line-height: 25px;
          margin-top: 12px;
          .ant-progress {
            width: 70%;
          }
          .ant-progress-bg {
            height: 12px !important;
          }
        }
      }
    }
  }
  
  .moodTracker{
    align-items: center;
    background-color: rgba(39, 35, 67, .5);
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
    .moodContainer {
      @include font-default;  
      display: flex;
        font-weight: bold;
        padding: 14px;
        position: relative;
        width: 414px;
        .closeButton {
          position: absolute;
          right: 0;
          top: 0;
        }
      .moodBox {
        @include font-default;  
        background: white;
        border-radius: 9px;
        box-shadow: $shadow-bigger;
        font-size: $text18px;
        font-weight: bold;
        height: 100%;
        margin: 0 auto;
        width: 100%;
      }
      .question {
          margin: 32px;
      }
      .moodChoices {
        background-color: $base-color-lightgrey;
        display: flex;
        height: 80px;
        justify-content: space-evenly;
        margin-bottom: 24px;
        padding: 16px 8px;
        width: 100%;
      }
      .moodChoiceItem {
        animation: ease-in-out 0.5s;
        border-radius: 150px;
        height: 48px;
        transition: 0.5s all;
        width: 48px;
      }
      .left {
        background-color: $base-color-green;
        &:hover { background-color: #009560 }
      }
      .leftmid {
        background-color: $base-color-emerald;
        &:hover { background-color: #16A9A6 }
      }
      .mid {
        background-color: $base-color-yellow;
        &:hover { background-color: #D9A02F }
      }
      .rightmid {
        background-color: $base-color-orange;
        &:hover { background-color: #DB683A }
      }
      .right {
        background-color: $base-color-red;
        &:hover { background-color: #991832 }
      }
      .moodChoiceItem:last-child {
          margin-right: 0;
      }
      .bottomBar {
          display: flex;
          height: 48px;
          line-height: 48px;
          margin-bottom: 32px;
          position: relative;
          width: 100%;
      }
      .primaryCTA {
          background-color: $base-color;
          border-radius: 150px;
          color: white;
          height: 48px;
          left: 32px;
          line-height: 48px;
          padding: 0 24px;
          position: absolute;
      }
      .secondaryCTA {
          position: absolute;
          right: 32px;
      }
    }
  }