@import '../global.scss';


.MainBody {
    margin-left: $left-menu-size;
    padding-left: 4vw;
    padding-right: 4vw;
    min-height: 100vh;
    animation: fade-in .3s forwards;
    .boxesBlock {
      // border: green solid 1px;
      margin-top: 5vh;
      display: flex;
      justify-content: space-evenly;
      .block {
        padding: 1% 2%;
        width: 30%;
        border-radius: 16px;
        height: 50vh;
      }
      .weekBlock {
        background: #95E4EB;;
      }
      .inspirationBlock {
        background: #FCDDBC;
        .title {
          font-family: Greycliff CF;
          font-style: normal;
          font-weight: bold;
          font-size: 1.6vw;
          color: black;
        }
        .content {
          margin-top: 5vh;
          font-family: Greycliff CF;
          font-style: italic;
          font-size: 1.4vw;
          color: black;
        }
        .author {
          margin-top: 3vh;
          font-family: Greycliff CF;
          font-style: normal;
          font-weight: bold;
          font-size: 1.4vw;
          color: black;
        }
      }
      .todaysBlock {
        background: #EFF0F3;
        .title {
          font-family: Greycliff CF;
          font-style: normal;
          font-weight: bold;
          font-size: 1.4vw;
          color: black;
        }
        .task {
          position: relative;
          display: flex;
          align-items: center;
          margin-top: 2vh;
          box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15), 0px 1px 1px rgba(0, 0, 0, 0.1), 1px 1px 0px rgba(0, 0, 0, 0.05);
          border-radius: 3px;
          height: 9vh;
          background: white;
          padding: 0px 4%;
          display: flex;
          justify-content: space-between;
          transition: all 1s;
          .name {
            color: black;
            font-family: Greycliff CF;
            font-style: normal;
            font-weight: bold;
            font-size: 1.2vw;
            line-height: 22px;
          }
          .duration {
            color: black;
            font-family: Greycliff CF;
            font-style: normal;
            font-weight: bold;
            font-size: 1.2vw;
          }
          .workBar {
            position: absolute;
            border-radius: 3px 0px 0px 0px;
            height: .6vh;
            top: 0px;
            left: 0px;
          }
          &.task1 {
            margin-top: 3vh;
            .workBar {
              width: 50%;
              background: #129EAF;
            }
          }
          &.task2 {
            .workBar {
              width: 90%;
              background: #23D0CD;
            }
          }
          &.task3 {
            .workBar {
              width: 20%;
              background: #EC365A;
            }
          }
        }
        .seeTasks {
          margin-top: 2vh;
          font-family: Greycliff CF;
          font-style: normal;
          font-weight: bold;
          font-size: 1.2vw;
          color: black;
        }
      }
    }
  
    .TitlesBlock {
      // border: 1px blue solid;
      margin-top: 5vh;
      display: flex;
      .Greetings {
        color: black;
        width: 60%;
        font-family: Greycliff CF;
        font-style: normal;
        font-weight: bold;
        font-size: $text21px;
      }
      .Workload {
        color: black;
        // border: 1px yellow solid;
        width: 40%;
        font-family: Greycliff CF;
        font-style: normal;
        font-weight: bold;
        font-size: $text21px;
      }
    }
    .TasksBlock {
      // border: red solid 1px;
      margin-top: 2vh;
      display: flex;
      .TasksTitle {
        font-family: Greycliff CF;
        font-style: normal;
        font-weight: bold;
        font-size: $text52px;
        line-height: 62px;
        width: 60%;
        padding-right: 10%;
        color: black;
        .OrangeTitle {
          color: #FF5C00;
        }
        // border: blue solid 1px;
      }
      .TasksBarsBlock {
        // border: solid 1px green;
        width: 40%;
        .TaskOne {
          margin-top: 2vh;
          display: flex;
          justify-content: space-between;
          color: black;
          font-family: Greycliff CF;
          font-style: normal;
          font-weight: bold;
          font-size: 21px;
          line-height: 25px;
          // padding-right: 10%;
          .ant-progress {
            // border: blue solid 1px;
            width: 70%;
          }
        }
      }
    }
  }
  
.moodTracker{
  background-color: rgba(39, 35, 67, .5);
  display: flex;
  height: 100vh;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100vw;
  z-index: 2;
  left: 0;
  top: 0;
  .moodContainer {
      display: flex;
      font-family: Greycliff CF;
      font-weight: bold;
      padding: 14px;
      position: relative;
      width: 414px;
      .closeButton {
        position: absolute;
        right: 0;
        top: 0;
      }
    .moodBox {
        background: white;
        margin: 0 auto;
        font-family: Greycliff CF;
        font-weight: bold;
        font-size: $text18px;
        height: 100%;
        box-shadow: $shadow-bigger;
        border-radius: 9px;
        width: 100%;
    }
    .question {
        margin: 32px;
    }
    .moodChoices {
        background-color: $base-color-lightgrey;
        display: flex;
        height: 80px;
        margin-bottom: 24px;
        padding: 16px 8px;
        justify-content: space-evenly;
        width: 100%;
    }
    .moodChoiceItem {
        border-radius: 150px;
        height: 48px;
        width: 48px;
        transition: 0.5s all;
        animation: ease-in-out 0.5s;
    }
    .moodChoiceItem:hover {
        background-color: $base-color;
    }
    .moodChoiceItem svg {
    }
    .left { background-color: $base-color-green;}
    .leftmid { background-color: $base-color-emerald;}
    .mid { background-color: $base-color-yellow;}
    .rightmid { background-color: $base-color-orange;}
    .right { background-color: $base-color-red;}
    .moodChoiceItem:last-child {
        margin-right: 0;
    }
    .bottomBar {
        display: flex;
        height: 48px;
        line-height: 48px;
        margin-bottom: 32px;
        position: relative;
        width: 100%;
    }
    .primaryCTA {
        background-color: $base-color;
        border-radius: 150px;
        color: white;
        height: 48px;
        left: 32px;
        line-height: 48px;
        padding: 0 24px;
        position: absolute;
    }
    .secondaryCTA {
        position: absolute;
        right: 32px;
    }
  }
}