@import '../../global.scss';


.backlogContainer {
  @include font-default;  
  background-color: $base-color-lightgrey;
  box-shadow: $shadow-bigger;
  font-weight: bold;
  height: 100vh;
  // margin: 0;
  // padding: 0;
  position: fixed; 
  // right: 0;
  width: 314px;
  z-index: 10;
  transition: all .5s ease-out;
  right: -400px;
  // display: none;
  &.visible {
    right: 0px !important;
  }
.closeBacklog {
  &:hover {
    // box-shado w: $shadow-large
  }
  transition: .3s all;
  box-shadow: $shadow-bigger;
  background-color: white;
  border-radius: 3px 0 0 3px;
  display: flex;
  height: 32px;
  left: -24px;
  position: absolute;
  top: 12px;
  width: 24px;
  z-index: 2;
}
.backlogTitle {
    background-color: white;
    box-shadow: $shadow-smaller;
    font-size: $text21px;
    height: 56px;
    line-height: 52px;
    padding: 0 12px;
    width: 100%;
}
.todaysBlock {
    padding: 24px 12px;
    height: 70vh;
    // border: red solid 1px;
    overflow-y: scroll;
}
.filter {
    font-size: $text-caps;
    text-transform: uppercase;
}
.task {
    &.selected {
      &:before {
        animation: fade-in 1s;
        content: '';
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        z-index: -1;
        margin: -2px; /* !importanté */
        border-radius: inherit; /* !importanté */
        background: linear-gradient(113.61deg, #FF5C00 0%, #FFA800 100%);
      }
    }
    // z-index: 2;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: $scale16;
    box-shadow: $shadow-smaller;
    border-radius: 3px;
    height: 60px;
    background: white;
    padding: 0px 4%;
    display: flex;
    justify-content: space-between;
    transition: all 1s;
    .name {
      @include font-default;
      font-size: $text18px;
      line-height: 22px;
    }
    .duration {
      @include font-default;
      font-size: $text-caps;
    }
    .workBar {
      position: absolute;
      border-radius: 3px 0px 0px 0px;
      height: 3px;
      top: 0px;
      left: 0px;
    }
  }
.TasksBarsBlock {
    // border: solid 1px green;
    width: 35%;
    .TaskOne {
      @include font-default;
      display: flex;
      font-size: $text21px;
      justify-content: space-between;
      line-height: 25px;
      margin-top: 2vh;
      // padding-right: 10%;
      .ant-progress {
        // border: blue solid 1px;
        width: 70%;
      }
      .ant-progress-bg {
        height: 12px !important;
      }
    }
  }
  .noteToUser {
    margin-top: 18px;
    display: flex;
  }
  .noteArrow {
    height: 36px;
    margin-top: 24px;
    width: 40px;
  }
  .noteText {
    font-family: Kalam;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    margin-left: 12px;
    transform: rotate(-2deg);
    width: 200px;
  }
}