@import '../global.scss';

body {
  background: $base-color-lightgrey;
}
.CompanySpace {
  @include font-default;
  font-weight: bold;  
  margin-left: $left-menu-size;
  min-height: 100vh;
  padding-left: 4vw;
  padding-right: 4vw;
  
    .tableBlock {
      .menuBlock {
        display: flex;
        margin-top: 5vh;
        .topMenu {
          @include font-default;
          border-bottom: $base-color solid 1px;
          font-size: $text-caps;
          padding-bottom: 5px;
          width: 20%;
          &.peopleBlock {
            padding-left: 1.7vw;
          }
          &.projectsBlock {
            padding-left: 1vw;
          }
        }
      }
      .collapseBlock {
        color: $base-color;
        margin-top: 3vh;
        .ant-collapse {
          border: solid 0px white;
        }
        .ant-collapse-content {
          background-color: transparent !important;
        }
        .ant-collapse-item {
          border: solid 0px white;
          &:nth-of-type(odd) {
            background: $base-color-lightgrey !important;
          }
          &:nth-of-type(even) {
            background: white !important;
            .ant-collapse-content-box {
              background: white !important;
            }
          }
        }
        .ant-collapse > .ant-collapse-item > .ant-collapse-header {
          line-height: 64px;
          padding: 0 16px;          
        }
        .panelTitleBlock {
          display: flex;
          .contentMenu {
            @include font-default;
            font-size: $text21px;
            width: 20%;
            &.seeSpace {
              font-size: 1.2vw;
              text-align: end;
            }
          }
        }
        .contentBlock .subTeam {
          .subOneBlock {
            display: flex;
            margin-bottom: 2vh;
            &:nth-child(1) .subMenu .dot {
              background: #9139B6;
            }
            &:nth-child(2) .subMenu .dot {
              background: #E152B9;
            }
            &:nth-child(3) .subMenu .dot {
              background: #02C37E;
            }
            .subMenu {     
              @include font-default;
              align-items: center;
              color: $base-color;
              display: flex;
              font-size: $text18px;
              width: 20%;
              &.people {
                padding-left: 1.2vw;
              }
              &.projects {
                padding-left: 1vw;
              }
              &.tasks {
                padding-left: .7vw;
              }
              & .dot {
                border-radius: 50px;
                height: 10px;
                margin-right: 10px;
                width: 10px;
              }
            }
          }
        }
      }
    }
  
    .Introduction {
      @include font-default;
      font-size: $text21px;
      margin-top: 80px;
    }
    .boxesBlock {      
      display: flex;
      justify-content: space-around;
      margin-top: 1vh;
      .OneBox {
        background: white;
        border-radius: 3px;
        box-shadow: $shadow-smaller;
        margin-right: 24px; 
        width: 24%;
        .Content {
          padding: $scale24;
          width: 70%;
          .Number {            
            @include font-default;
            font-size: $text52px;
            letter-spacing: -0.15em;
            line-height: 1;
          }
          .title {
            @include font-default;
            font-size: $text18px;
            line-height: 1;
          }
        }
      }
      .OneBox:last-child {
        margin-right: 0;
      }
    }
  }
  
  