@import '../global.scss';

.MenuBlock {
    z-index: 1;
}
.taskOverlay {
    background-color: $base-color;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100vw;
    z-index: 2;
}
    .taskDetails {
        @include font-default;
        background: white;
        border-radius: 3px;
        box-shadow: $shadow-smaller;
        font-weight: bold;
        height: calc(100vh - 80px);;
        margin-left: $left-menu-size;
        margin: 40px;
        overflow: auto;
    }
        .closeButton {
            background-color: white;
            border-radius: 150px;
            box-shadow: $shadow-bigger;
            height: 28px;
            position: absolute;
            right: 26px;
            top: 26px;
            width: 28px;
            z-index: 100;
        }
        .sideNav {
            height: 260px;
            position: absolute;
            right: 14px;
            top: 160px;
            width: 52px;
        }
        .navItem {
            background-color: white;
            border-radius: 150px;
            box-shadow: $shadow-smaller;
            height: 52px;
            margin-bottom: 12px;
            padding: 10px;
        }
        .taskTopBar {
            background-color: white;;
            border-radius: 3px 3px 0 0;
            box-shadow: $shadow-bigger;
            display: flex;
            height: 80px;
            position: relative;
            z-index: 10;
        }
        .topBarLeft {
            display: flex;
            padding-left: $scale32;
            position: relative;
            width: 40%;
        }
        .moreNav {
            background-color: rebeccapurple;
            height: 32px;
            position: absolute;
            right: 24px;
            top: 24px;
            width: 32px;
        }
        .topBarRight {
            display: flex;
            padding: 0 $scale32 0 8px;
            width: 60%;
        }
        .twoRows {
            border-right: 1px solid $base-color;
            display: flex;
            flex-direction: column;
            height: 32px;
            justify-content: space-evenly;
            margin-top: 24px;
            padding: 0 24px;
        }
        .twoRows:last-child {
            border: none;
        }
        .rowTitle {
            color: #5D5A72;
            font-size: 11px;
            text-transform: uppercase;
        }
        .dueDate, .trackedTime, .estimatedTime, .priorityLabel, .statusLabel {
            font-size: $text-caps;
            letter-spacing: 0.007em;
            text-transform: uppercase;
        }
        .priorityLabel, .statusLabel {
            background-color: salmon;
            border-radius: 2px;
            font-weight: bold;
            height: 19px;
            line-height: 18px;
            padding: 0 8px;
        }
    .taskTitle {
        font-size: $text24px;
        line-height: 80px;
        margin-right: $scale24;
    }
    .taskMainDetails {
        display: flex;
        height: calc(100vh - 160px);
        z-index: 5;
    }
        .leftDetails {
            padding: $scale32;
            width: 40%;
        }
        .title {
            font-size: $text24px;
        }
        .smallTitle {
            font-size: $text-caps;
            letter-spacing: 0.007em;
            margin: 32px 0 8px 0;
            text-transform: uppercase;
        }
        .description {
            font-size: $text-parag-normal;
            font-weight: 500;
            line-height: 1.25em;
        }
        .rightDetails {
            background-color: $base-color-lightgrey;
            box-shadow: 1px -10px 0px rgba(0, 0, 0, 0.1), 0px -10px 1px rgba(0, 0, 0, 0.15), 0px -10px 6px rgba(0, 0, 0, 0.15);
            width: 60%;
        }
            .viewConverse, .viewFiles {
                height: 100%;
                width: 100%;
            }
            .contents {
                display: flex;
                flex-direction: column;
                height: calc(100% - 80px);
                padding: $scale32;
            }
            .converseRow, .taskRow {
                font-size: $text-parag-normal;
                font-weight: 500;
                margin: 12px 0;
                padding: 0 12px 0 0;
                position: relative;
                width: 100%;
            }
            .taskRow {
                margin-bottom: 24px;
            }
            .avatar {
                background-color: tomato;
                border-radius: 150px;
                height: 30px;
                margin-right: 12px;
                width: 30px;
            }
            .comment {
                background-color: white;
                border-radius: 10px;
                margin-right: 12px;
                padding: 18px;
                width: calc(100% - 200px);
            }
            .timeStamp, .timeEstimated {
                letter-spacing: -0.035em;
                position: absolute;
                right: 12px;
                text-align: right;
                width: 150px;
            }
            .timeEstimated {
                font-size: $text-caps;
                font-weight: bold;
                letter-spacing: 0.007em;
                text-transform: uppercase;
            }
            .action {
                width: calc(100% - 150px);
            }
            .action span { font-weight: bold; }
            .subtaskAdd {
                background-color: white;
                box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.1), inset 2px 2px 3px rgba(0, 0, 0, 0.1);
                display: flex;
                padding: 12px;
            }
            .avatarAdd {
                width: 24px;
            }
            .avatarAdd, .addMoreBox {
                display: flex;
                height: 24px;
                margin-right: 12px;
            }
            .subtaskTitle {
                font-size: $text21px;
                font-weight: bold;
                width: calc(100% - 200px);
            }
            .taskItem {
                display: flex;
                width: 100%;
            }
            .checklist {
                display: flex;
                flex-direction: column;
                margin: 24px 0 0 42px;
                width: calc(100% - 42px);
            }
            .checklistItem {
                display: flex;
                line-height: 32px;
                margin-bottom: 12px;
                width: 100%;
            }
            .checkbox {
                background-color: white;
                border-radius: 150px;
                box-shadow: inset 2px 2px 0px rgba(0, 0, 0, 0.1), inset 0px 0px 1px rgba(0, 0, 0, 0.15);
                height: 32px;
                margin-right: 8px;
                width: 32px;
            }
            .completed {
                background-color: $base-color-green;
                box-shadow: none;
            }
            .checklistAdd {
                background-color: white;
                box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.1), inset 2px 2px 3px rgba(0, 0, 0, 0.1);
                display: flex;
                padding: 12px;
            }
            .subtaskTitle {
                font-size: $text14px;
            }
            .converseComment, .uploadBar {
                background-color: white;
                height: 80px;
                line-height: 80px;
                padding: 0 32px;
            }
            .commentButton {
                font-size: $text-caps;
                letter-spacing: 0.007em;
                text-transform: uppercase;
            }
            .filesList {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                left: -12px;
                position: relative;
                width: 100%;
            }
            .fileItem {
                padding: 12px;
                position: relative;
            }
            .fileAttachment {
                background-color: white;
                border-radius: 3px;
                box-shadow: $shadow-smaller;
                height: 100px;
                margin-bottom: 12px;
                min-width: 150px;
                width: 100%;
            }
            .fileName {
                font-size: $text-parag-normal;
                text-align: center;
            }

    .members {
        align-items: center;
        bottom: 24px;
        display: flex;
        padding: 0px 7px 0px 0px;
        right: 24px;
        z-index: 1;
        .memberBox {
            margin: 0px 0px 0px 0px;
            padding: 0px 0px 0px 0px;
            position: relative;
            width: 22px;
        }
        .membersBoxSmall {
            width: 22px;
        }
        .memberBox:nth-child( 1 ) { z-index: 9 ; }
        .memberBox:nth-child( 2 ) { z-index: 8 ; }
        .memberBox:nth-child( 3 ) { z-index: 7 ; }
        .oneMember {
            @include font-default;
            align-items: center;
            background: #FFBD3B;
            border-radius: 50%;
            border: 2px solid white;
            color: white;
            display: flex;
            font-size: 12px;
            font-weight: 100;
            height: 40px;
            justify-content: center;
            line-height: 40px;
            text-align: center;
            width: 40px;
        }
        .oneMemberSmall {
            height: 30px;
            line-height: 30px;
            width: 30px;
        }
    }