@import '../global.scss';


.ProjectSpace {
    margin-left: $left-menu-size;
    padding-left: 4vw;
    padding-right: 4vw;
    min-height: 100vh;    
    // border: red solid 1px;
    background: #EFF0F3;
    animation: fade-in .3s forwards;
    .newProject {
        position: fixed;
        bottom: 30px;
        right: 60px;
        color: white;
        font-size: $text18px;
        font-weight: bold;
        padding-left: 20px;
        padding-right: 20px;
        background-color: $base-color;
        border-radius: 150px;
        display: flex;
        height: 60px;
        align-items: center;
    }
}