@import '../global.scss';


.ProjectSpace {
    animation: fade-in .3s forwards;
    background: #EFF0F3;
    margin-left: $left-menu-size;
    min-height: 100vh;
    padding-left: 4vw;
    padding-right: 4vw;
    .newProject {
        align-items: center;
        background-color: $base-color;
        border-radius: 150px;
        bottom: 24px;
        color: white;
        display: flex;
        font-size: $text18px;
        font-weight: bold;
        height: 52px;
        padding-left: 20px;
        padding-right: 20px;
        position: fixed;
        right: 24px;
    }
}