@import '../global.scss';


.ProjectSpace {
    animation: fade-in .3s forwards;
    margin: 0 auto;
    min-height: 100vh;
    padding: 0 0 80px 56px;
    width: 1050px;
    .newProject {
        align-items: center;
        background-color: $base-color;
        border-radius: 150px;
        bottom: 24px;
        color: white;
        display: flex;
        font-size: $text14px;
        font-weight: bold;
        height: 52px;
        padding-left: 20px;
        padding-right: 20px;
        position: fixed;
        right: 24px;
        z-index: 100;

    
    .projectTitle {
        height: auto !important;
    }
    .descProject {
        font-size: $text18px !important;
    }
}

}
