@import '../style.scss';
@import '../../global.scss';

.ProgressPage {
    // margin-top: 2vh;
    padding-top: 72px;
    font-weight: bold;
    .oneTeamBlock {
        padding-top: 5vh;
        // border: red solid 1px;
        .teamName {
            font-family: Greycliff CF;
            font-style: normal;
            font-size: $text-caps;
            padding-bottom: 1vh;
            border-bottom: 1px solid $base-color;
            margin-bottom: 4vh;
        }
        .oneProjectBlock {
            margin-top: 16px;
            background: white;
            box-shadow: $shadow-smaller;
            border-radius: 3px;
            height: 60px;
            width: 100%;
            display: flex;
            position: relative;
            padding: 10px 24px;
            .progressBar {
                position: absolute;
                background: linear-gradient(90deg,  lighten($base-color-red, 35%) 0%, $base-color-red 100%);
                height: .5vh;
                width: percentage((random(80) + 10) / 100);
                top: 0px;
                left: 0px;
                border-radius: 3px 0 0 0;
            }
            .name {
                display: flex;
                align-items: center;
                width: 50%;
                // border: red solid 1px;
                font-family: Greycliff CF;
                font-style: normal;
                font-size: $text21px;
                padding-right: 1.5vh;
            }
            .time {
                display: flex;
                align-items: center;
                width: 10%;
                // border: red solid 1px;
                font-family: Greycliff CF;
                font-style: normal;
                font-size: $text-caps;
                padding-right: 1.5vh;
            }
            .team {
                display: flex;
                align-items: center;
                width: 30%;
                flex-direction: row-reverse;
                font-family: Greycliff CF;
                font-style: normal;
                font-size: $text-caps;
                .oneTeam {
                    margin-right: 1.5vh;
                }
            }
            .members {
                display: flex;
                align-items: center;
                // width: 10%;
                padding: 0 0 0 24px;
                right: 0;
                .memberBox {
                    // height: 44px ;
                    margin: 0px 0px 0px 0px ;
                    padding: 0px 0px 0px 0px ;
                    position: relative ;
                    width: 32px ;
                }
                .memberBox:nth-child( 1 ) { z-index: 9 ; }
                .memberBox:nth-child( 2 ) { z-index: 8 ; }
                .memberBox:nth-child( 3 ) { z-index: 7 ; }
                .oneMember {
                    color: white;
                    background: #FFBD3B;;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 2px solid white ;
                    font-family: Greycliff CF;
                    font-size: 12px ;
                    font-weight: 100 ;
                    height: 40px ;
                    line-height: 40px ;
                    text-align: center ;
                    width: 40px ;
                }
            }
            &.p2 {
                .progressBar {
                    width: percentage((random(80) + 10) / 100);
                    background: linear-gradient(90deg, lighten($base-color-purple, 35%) 0%, $base-color-purple 100%) !important;
                }
            }
            &.p3 {
                .progressBar {
                    width: percentage((random(80) + 10) / 100);
                    background: linear-gradient(90deg, lighten($base-color-blue, 35%) 0%, $base-color-blue 100%) !important;
                }
            }
            &.p4 {
                .progressBar {
                    width: percentage((random(80) + 10) / 100);
                    background: linear-gradient(90deg, lighten($base-color-green, 35%) 0%, $base-color-green 100%) !important;
                }
            }
            &.p5 {
                .progressBar {
                    width: percentage((random(80) + 10) / 100);
                    background: linear-gradient(90deg, lighten($base-color-orange, 35%) 0%, $base-color-orange 100%) !important;
                }
            }
            &.p6 {
                .progressBar {
                    width: percentage((random(80) + 10) / 100);
                    background: linear-gradient(90deg, lighten($base-color-yellow, 35%) 0%, $base-color-yellow 100%) !important;
                }
            }
            &.p7 {
                .progressBar {
                    width: percentage((random(80) + 10) / 100);
                    background: linear-gradient(90deg, lighten($base-color-pink, 35%) 0%, $base-color-pink 100%) !important;
                }
            }
            &.p8 {
                .progressBar {
                    width: percentage((random(80) + 10) / 100);
                    background: linear-gradient(90deg, lighten($base-color-emerald, 35%) 0%, $base-color-emerald 100%) !important;
                }
            }
        }
    }

}


// $base-color-red: rgb(214, 34, 70);1
// $base-color-purple: rgb(145, 57, 182);2
// $base-color-blue: rgb(0, 129, 202);3
// $base-color-green: rgb(2, 195, 126);4
// $base-color-orange: rgb(255, 125, 73);5
// $base-color-yellow: rgb(255, 189, 59);6
// $base-color-pink: rgb(225, 82, 185);7
// $base-color-emerald: rgb(23, 190, 187);8