@import '../style.scss';
@import '../../global.scss';

.ProgressPage {
    font-weight: bold;
    padding-top: 72px;
    .oneTeamBlock {
        padding-top: 5vh;
        .teamName {
            border-bottom: 1px solid $base-color;
            font-family: Greycliff CF;
            font-size: $text-caps;
            font-style: normal;
            margin-bottom: 4vh;
            padding-bottom: 1vh;
        }
        .oneProjectBlock {
            background: white;
            border-radius: 3px;
            box-shadow: $shadow-smaller;
            display: flex;
            height: 60px;
            margin-top: 16px;
            padding: 10px 24px;
            position: relative;
            width: 100%;
            .progressBar {
                background: linear-gradient(90deg, #FFB1C1 0%, #D62246 100%);
                border-radius: 3px 0 0 0;
                height: 3px;
                left: 0px;
                position: absolute;
                top: 0px;
                width: 70%;
            }
            .name {
                align-items: center;
                display: flex;
                font-family: Greycliff CF;
                font-size: $text21px;
                font-style: normal;
                padding-right: 1.5vh;
                width: 50%;
            }
            .time {
                align-items: center;
                display: flex;
                font-family: Greycliff CF;
                font-size: $text-caps;
                font-style: normal;
                padding-right: 1.5vh;
                width: 10%;
            }
            .team {
                align-items: center;
                display: flex;
                flex-direction: row-reverse;
                font-family: Greycliff CF;
                font-size: $text-caps;
                font-style: normal;
                width: 30%;
                .oneTeam {
                    margin-right: 1.5vh;
                }
            }
            .members {
                align-items: center;
                display: flex;
                padding: 0 0 0 24px;
                right: 0;
                .memberBox {
                    margin: 0px 0px 0px 0px ;
                    padding: 0px 0px 0px 0px ;
                    position: relative ;
                    width: 32px ;
                }
                .memberBox:nth-child( 1 ) { z-index: 9 ; }
                .memberBox:nth-child( 2 ) { z-index: 8 ; }
                .memberBox:nth-child( 3 ) { z-index: 7 ; }
                .oneMember {
                    align-items: center;
                    background: #FFBD3B;;
                    border-radius: 50%;
                    border: 2px solid white ;
                    color: white;
                    display: flex;
                    font-family: Greycliff CF;
                    font-size: 12px ;
                    font-weight: 100 ;
                    height: 40px ;
                    justify-content: center;
                    line-height: 40px ;
                    text-align: center ;
                    width: 40px ;
                }
            }
            &.p2 {
                .progressBar {
                    background: linear-gradient(90deg, #EAB9FF 0%, #9139B6 100%) !important;
                    width: 40%;
                }
            }
            &.p3 {
                .progressBar {
                    background: linear-gradient(90deg, #95F5F4 0%, #17BEBB 100%) !important;
                    width: 90%;
                }
            }
        }
    }

}