@import '../style.scss';
@import '../../global.scss';

.TopMenu {
    @include font-default;
    background: white;
    border-radius: 0px 0px 3px 3px;
    box-shadow: $shadow-bigger;
    display: flex;
    font-weight: bold;
    height: 56px;
    position: fixed;
    width: 994px;
    z-index: 150;
    .switchViewBlock {
        display: flex;
        justify-content: space-evenly;
        position: absolute;
        right: 0;
        top: 12px;
        .oneView {
            align-items: center;
            color: grey;
            display: flex;
            font-size: $text24px;
            height: 100%;
            justify-content: center;
            margin-right: 4px;
            width: 32px;
            &.current {
                background-color: $base-color-darkergrey;
                border-radius: 3px;
                color: $base-color;
            }
        }
    }
    .ant-btn {
        border: 0px solid $base-color;
        color: $base-color;
        font-weight: bold;
        height: 100% !important;
        text-align: left;
        width: 100%;
        &:hover {
            color: $base-color-orange !important;
        }
    }
    .ant-dropdown-menu {
        border-radius: 3px !important;
        box-shadow: $shadow-smaller !important;
        color: $base-color !important;
    }

    .ant-dropdown-menu-item, .ant-dropdown-menu-submenu-title {
        font-family: 'Greycliff CF';
        font-size: $text-caps !important;
        font-weight: bold;
        text-transform: uppercase;
    }


    .projectChoice {
        border-right: 1px solid $base-color;
        height: 100%;
        margin-right: 12px;
        width: 20%;
        .ant-btn {
            font-size: $text24px;
        }
    }
    .teamChoice,
    .assigneeChoice,
    .duedateChoice,
    .priorityChoice,
    .statusChoice
     {
        font-style: normal;
        font-weight: bold;
        height: 100%;
        .ant-btn {
            font-size: $text-caps;
            text-transform: uppercase;
            padding: 0 12px !important;
        }
    }
    .searchBar {
        align-items: center;
        border-right: $base-color solid 1px;
        display: flex;
        flex-direction: row-reverse;
        font-size: $text21px;
        height: 56px;
        padding-right: 2%;
    }
    .searchBar svg {
        width: $scale32;
    }
}