@import '../style.scss';
@import '../../global.scss';

.CardsPage {
    font-weight: bold;
    padding-top: 72px;
    .oneTeamBlock {
        display: flex;
        flex-direction: column;
        padding-top: 5vh;
        .teamName {
            @include font-default;
            border-bottom: 1px solid $base-color;
            font-size: $text-caps;
            margin-bottom: 24px;
            padding-bottom: 1vh;
            text-transform: uppercase;
        }
        .projectsBlock {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .oneProjectBlock {
                background: white;
                border-radius: 3px;
                box-shadow: $shadow-smaller;
                height: 232px;
                margin-bottom: 24px;
                padding: 24px;
                position: relative;
                transition: 0.35s all;
                width: 32%;
                .progressBar {
                    background: linear-gradient(90deg, #FFB1C1 0%, #D62246 100%);
                    border-radius: 3px 0 0 0;
                    height: 3px;
                    left: 0px;
                    position: absolute;
                    top: 0px;
                    width: 70%;
                }
                .name {
                    @include font-default;
                    align-items: center;
                    display: flex;
                    float: left;
                    font-size: $text21px;
                    padding-right: 1.5vh;
                    width: 70%;
                }
                .deadline {
                    @include font-default;
                    align-items: center;
                    display: flex;
                    flex-direction: row-reverse;
                    float: left;
                    font-size: $text-caps;
                    height: 20%;
                    padding-left: 1.5vh;
                    text-transform: uppercase;
                    width: 30%;
                }
                .desc {
                    @include font-default;
                    display: flex;
                    float: left;
                    font-size: $text-parag-normal;
                    font-weight: 300;
                    height: 50%;
                    line-height: 1.25em;
                    padding-right: 1.5vh;
                    width: 85%;
                }
                .team {
                    @include font-default;
                    align-items: center;
                    bottom: 32px;
                    display: flex;
                    float: left;
                    font-size: $text-caps;
                    position: absolute;
                    width: 70%;
                    .oneTeam {
                        margin-right: 1.5vh;
                    }
                }
                .members {
                    align-items: center;
                    bottom: 24px;
                    display: flex ;
                    padding: 0px 7px 0px 0px ;
                    position: absolute;
                    right: 24px;
                    z-index: 1 ;
                    .memberBox {
                        margin: 0px 0px 0px 0px ;
                        padding: 0px 0px 0px 0px ;
                        position: relative ;
                        width: 32px ;
                    }
                    .memberBox:nth-child( 1 ) { z-index: 9 ; }
                    .memberBox:nth-child( 2 ) { z-index: 8 ; }
                    .memberBox:nth-child( 3 ) { z-index: 7 ; }
                    .oneMember {
                        @include font-default;
                        align-items: center;
                        background: #FFBD3B;;
                        border-radius: 50%;
                        border: 2px solid white ;
                        color: white;
                        display: flex;
                        font-size: 12px ;
                        font-weight: 100 ;
                        height: 40px ;
                        justify-content: center;
                        line-height: 40px ;
                        text-align: center ;
                        width: 40px ;
                    }
                }
                &.p2 {
                    .progressBar {
                        background: linear-gradient(90deg, #EAB9FF 0%, #9139B6 100%) !important;
                        width: 40%;
                    }
                }
                &.p3 {
                    .progressBar {
                        background: linear-gradient(90deg, #95F5F4 0%, #17BEBB 100%) !important;
                        width: 90%;
                    }
                }
            }
            .oneProjectBlock:hover { box-shadow: $shadow-large; }
            .oneProjectBlock:last-child { margin-right: 0; }
        }
    }

}