@import '../global.scss';
@import url('https://use.typekit.net/szk0dqg.css');

.MenuBlock {
    z-index: 1;
}
.signupDetails {
    align-items: center;
    background: linear-gradient(113.61deg, #FFF2AA 0%, #FF8A5B 100%);
    display: flex;
    font-family: Greycliff CF;
    // font-size: $text18px;
    font-weight: bold;
    height: 100vh;
    justify-content: center;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100vw;
    z-index: 2;
}
.loginBlock {
    align-items: center;
    background: #272343;
    border-radius: 100px;
    color: white;
    display: flex;
    font-family: Greycliff CF;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    height: 48px;
    justify-content: center;
    letter-spacing: 0.0035em;
    line-height: 22px;
    width: 200px;
}
    .fifty {
        align-items: center;
        background-color: white;
        box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.05), 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 2px 12px rgba(0, 0, 0, 0.15);
        display: flex;
        font-family: Greycliff CF;
        font-weight: bold;
        height: 100vh;
        justify-content: center;
        left: 0;
        margin-left: 48px;
        padding: 84px;
        position: absolute;
        width: calc(50% - 24px);
    }
    .illustration {
        // background-color: $base-color-darkergrey;
        height: 100vh;
        position: absolute;
        right: 0;
        width: calc(50% - 24px);
    }
    .smallText {
        font-size: $text18px;
    }
    .mainTitle {
        font-family: Eurostile;
        font-size: $text52px;
        font-weight: 800;
        line-height: 60px;
        margin-bottom: 32px;
    }
    form {
        display: flex;
        flex-direction: column;
        font-size: $text18px;
        margin-top: 24px;
    }
    label {
        margin: 0 12px 12px 0;
    }
    input {
        background-color: $base-color-lightgrey;
        border-radius: 3px;
        border: none;
        box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.1), inset 2px 2px 3px rgba(0, 0, 0, 0.1);
        color: $base-color;
        font-weight: bold;
        height: 56px;
        margin-left: 12px;
        padding: 0 12px;
        width: 432px;
    }
    .loginBlock {
        margin-top: 12px;
    }
    .question {
        margin: 32px;
    }
    input button {
        background-color: $base-color;
        color: white;
    }
    .stepTwo {
        display: flex;
        flex-direction: column;
        height: 364px;
        width: 432px;
    }
    .stepBar {
        display: flex;
        flex-direction: row;
        margin-bottom: 32px;
        width: 100%;
    }
    .stepText {
        font-size: $text18px;
        line-height: 24px;
        width: 90%;
    }
    .stepNumber {
        font-size: $text-caps;
        line-height: 24px;
        text-align: right;
        width: 10%;
    }
    .stepContent {
        background-color: $base-color-lightgrey;
        border-radius: 3px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 232px;
        margin-bottom: 32px;
        padding: 18px;
        width: 100%;
    }
    .leftContent {
        border-right: 1px solid $base-color;
        width: 50%;
    }
    .rightContent {
        width: 50%;
    }
    .buttonChoice {
        border-radius: 6px;
        border: 2px solid $base-color;
        font-size: $text14px;
        height: 40px;
        letter-spacing: -0.035em;
        line-height: 34px;
        margin-right: 8px;
        padding: 0 12px;
    }
    .buttonChoice:hover {
        background-color: $base-color;
        color: white;
    }
    .stepCtas {
        display: flex;
        flex-direction: row;
        position: relative;
        width: 100%;
    }
    .previousCta {
        background-color: $base-color-lightgrey;
        border-radius: 150px;
        height: 56px;
        left: 0;
        line-height: 56px;
        padding: 0 32px;
        position: absolute;
    }
    .nextCta {
        background-color: $base-color;
        border-radius: 150px;
        color: white;
        height: 56px;
        line-height: 56px;
        padding: 0 32px;
        position: absolute;
        right: 0;
    }