.comingSoonBLock {
    height: 100vh;
    width: 100%;
    // border: red solid 1px;
    padding-left: 5vw;
    .comingSoonLogo {
        width: 150px;
        img {
            width: 100%;
        }
    }
}