$base-color: rgb(39, 35, 67);
$base-color-darkergrey: rgb(212, 213, 221);
$base-color-lightgrey: rgb(243, 244, 248);

$base-color-red: rgb(214, 34, 70);
$base-color-purple: rgb(145, 57, 182);
$base-color-blue: rgb(0, 129, 202);
$base-color-green: rgb(2, 195, 126);
$base-color-orange: rgb(255, 125, 73);
$base-color-yellow: rgb(255, 189, 59);
$base-color-pink: rgb(225, 82, 185);
$base-color-emerald: rgb(23, 190, 187);

$left-menu-size: 56px;
$left-menu-icon-size: 70%;
$left-menu-icon-space: 48px;
$left-menu-size-open: 10vw;

$text-caps: 0.9em;
$text-parag-normal: 1.125em;
$text14px: 1em;
$text18px: 1.125em;
$text21px: 1.5em;
$text24px: 1.75em;
$text52px: 3.715em;

$scale8: 8px;
$scale12: 12px;
$scale16: 16px;
$scale24: 24px;
$scale32: 32px;
$scale40px: 40px;
$scale48px: 48px;

$shadow-bigger: 1px 1px 0px rgba(0, 0, 0, 0.05), 0px 1px 1px rgba(0, 0, 0, 0.1),
	0px 2px 12px rgba(0, 0, 0, 0.15);
$shadow-smaller: 1px 1px 0px rgba(0, 0, 0, 0.1), 0px 0px 1px rgba(0, 0, 0, 0.15),
	0px 0px 6px rgba(0, 0, 0, 0.15);

$letterspacing-normal: 0.0035em;
$letterspacing-tight: -0.035em;

@font-face {
	font-family: 'Greycliff CF';
	src: url('greycliff-cf-medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Greycliff CF';
	src: url('greycliff-cf-bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Kalam';
	src: url('Kalam-Regular.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@keyframes fade-in-scale {
	from {
		opacity: 0;
		transform: scale(0);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes come-from-left {
	from {
		margin-left: -4000px;
	}
	to {
		margin-left: 0px;
	}
}

@keyframes come-from-top {
	from {
		margin-top: -4000px;
	}
	to {
		margin-top: 0px;
	}
}

@keyframes come-from-right {
	from {
		margin-left: 4000px;
	}
	to {
		margin-left: 0px;
	}
}

@keyframes come-from-bottom {
	from {
		margin-top: 4000px;
	}
	to {
		margin-top: 0px;
	}
}

.clickable {
	cursor: pointer !important;
}

.SwapBody {
	color: $base-color;
	min-height: 100vh;
	min-width: 100vw;
}

.MenuBlock {
	align-items: flex-start;
	animation: ease-in-out 1s;
	background: white;
	box-shadow: $shadow-bigger;
	display: flex;
	flex-direction: column;
	font-family: 'Greycliff CF';
	font-weight: bold;
	height: 100vw;
	min-height: 100vh;
	padding: 1vh 0;
	position: fixed;
	top: 0px;
	transition: 1s all;
	width: auto;
}

body {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
	&::-webkit-scrollbar {
		display: none;
	}
}

.MenuBlockOne {
	background-size: 400% 400%;
	// background: linear-gradient(-45deg, #FF5C00, #FFA800, white, white);
	border-bottom: 1px solid $base-color-darkergrey;
	display: flex;
	height: 52px;
	line-height: 52px;
	padding: 0 12px;
	width: 100%;
	&.current {
		animation: menu-background 0.5s forwards;
	}
}

.LeftMenuSVG {
	height: 100%;
	width: 32px;
}
.MenuSettings {
	// background-color: fuchsia;
	align-items: flex-end;
	height: 200px;
	width: 100%;
}

@keyframes menu-background {
	0% {
		background-position: 0% 0%;
	}
	100% {
		background-position: 100% 50%;
	}
}
